@import "tailwindcss";

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#arrowDown {
  
  border-radius: 10px;
  border-color: transparent;
}